.xl_container {
    max-width: 1700px;
    margin: 0 auto;
    background-color: red;
}

.lg_container {
    max-width: 1500px;
    margin: 0 auto;
}

.container {
    max-width: 1373px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}