@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.xl_container {
    max-width: 2252px;
    margin: 0 auto;
}

.lg_container {
    max-width: 1500px;
    margin: 0 auto;
}

.sm_container {
    max-width: 1373px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}