$light-orange: #F4C358;
$orange: #F4B429;
$light-green: #A6D3C3;
$green: #49A987;
$beige: #FEF7E9;
$grey: #847E77;
$light-grey: #A6AFAF;
$cursive: 'Kristi', cursive;
$titleFont: 'DM Serif Display', serif; 
$generalFont: 'DM Sans', serif;
%title {
    font-family: $titleFont;
    font-size: 2rem;
}